<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>Filter Data</title>
</head>
<body>
    <div>
        <canvas id="myChart"></canvas>
      </div>
<h1>Filter Data</h1>

<form method="get" action="{% url 'filter_data' %}">
    <label for="predicted_pabel">Predicted Pabel:</label>
    <input type="text" name="predicted_pabel" id="predicted_pabel">

    <label for="sentiment">Sentiment:</label>
    <input type="text" name="sentiment" id="sentiment">

    <label for="uuid">UUID:</label>
    <input type="text" name="uuid" id="uuid">

    <label for="created_at">Created At:</label>
    <input type="text" name="created_at" id="created_at">

    <button type="submit">Filter</button>
</form>

<table border="1">
    <thead>
        <tr>
            <th>Titre</th>
            <th>Paragraph</th>
            <th>Predicted Pabel</th>
            <th>Scores</th>
            <th>Sentiment</th>
            <th>UUID</th>
            <th>Created At</th>
            <th>Updated At</th>
        </tr>
    </thead>
    <tbody>
        {% for item in filtered_data %}
        <tr>
            <td>{{ item.titre }}</td>
            <td>{{ item.paragraph }}</td>
            <td>{{ item.predicted_pabel }}</td>
            <td>{{ item.scores }}</td>
            <td>{{ item.sentiment }}</td>
            <td>{{ item.uuid }}</td>
            <td>{{ item.created_at }}</td>
            <td>{{ item.updated_at }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<script>
    const ctx = document.getElementById('myChart');
  
    new Chart(ctx, {
      type: 'bar',
      data: {
        labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
        datasets: [{
          label: '# of Votes',
          data: [12, 19, 3, 5, 2, 3],
          borderWidth: 1
        },
        {
            label: '# of Votes',
            data: [12, 19, 3, 5, 2, 3],
            borderWidth: 1
          },
          {
            label: '# of Votes',
            data: [12, 19, 3, 5, 2, 3],
            borderWidth: 1
          }
        ]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });
  </script>

</body>
</html>
